    * {
        margin: 0;
        padding: 0;
    }

    body {
        background: url("img/background2.svg") no-repeat fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .content {
        position: absolute;
        top: 54.5%;
        left: 50%;
        width: 60%;
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
    }

    .card {
        height: auto;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    .icons {
        display: inline-flex;
        justify-content: space-around;
        width: 70%;
        margin-top: 6%;
    }

    .select {
        width: 15%;
        cursor: pointer;
    }

    .nav {
        width: 30%;
        cursor: pointer;
    }

    .navigation {
        display: inline-flex;
        justify-content: space-around;
        margin-top: 3%;
        width: 70%;
    }

    img:hover {
        opacity: 0.5;
    }